.cursor-main {
  --size: 0px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50px;
  pointer-events: none;
  z-index: 99;
  background-color: #e6c3ff;
  box-shadow: 0 0 30px #af83ff;
  mix-blend-mode: difference;
  transition: top 0.3s ease-out, left 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out;
}

.cursor-disable {
  --size: 0px;
}

@media only screen and (min-width: 600px) {
  .cursor-main { --size: 50px; }
  .cursor-disable { --size: 0px; }
}
